<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="DjangoFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Webhosting\CDRWeb\env\Scripts\python.exe|C:\Webhosting\CDRWeb\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="index.py" />
      </files>
    </defaultDocument>
  </system.webServer>

  <appSettings>
    <!-- Change 'customers.wsgi.handler' if your project or wsgi.py file uses another name -->
    
	<add key="WSGI_HANDLER" value="customers.wsgi.application" />
    <!-- This must be the folder containing manage.py -->
    <add key="PYTHONPATH" value="C:\Webhosting\CDRWeb\customers" />
	
  </appSettings>
</configuration>
